<footer>
  <div class="container cf">
    <ul>
      <li>
        <h3>Website</h3>
        <p><a href="http://www.amazonwatch.org/">
          <img alt="Aw-logo-white" height="104" src="https://achuarmovie.s3.amazonaws.com/assets/aw-logo-white-b365e5cc5bef3b5b1c84cab3731670ab.png" width="150"></a><br>
        <a href="http://www.amazonwatch.org">www.amazonwatch.org</a></p>
        <p>221 Pine St Suite 400<br>
        San Francisco, CA</p>
      </li>
      <li>
        <h3>Design</h3>
        <p><a href="http://www.gabylopez.com/">Gabriela Lopez</a></p>
        <p>Aliya Ryan</p>
      </li>
      <li>
        <h3>Video</h3>
        <p>Fernando Valdivia</p>
        <p><a href="http://www.teleandes.tv/">TeleAndes Productions</a></p>
      </li>
      <li>
        <h3>Production</h3>
        <p>Shinai</p>
        <p>Racimos de Ungurahui</p>
        <p>National Achuar Federation of Peru (FENAP)</p>
      </li>
    </ul>
  </div>
</footer>