    <form id="newsletter-form" action="http://amazonwatch.us1.list-manage.com/subscribe/post" method="post" class="form-inline" target="_blank">
    <div style="display: none;">
    <input type="hidden" name="u" value="9a44dab15339533e574167469">
    <input type="hidden" name="id" value="e6f929728b">
    <input type="hidden" name="FIRST" value="">
    <input type="hidden" name="LAST" value="">
    </div>
    <input type="text" placeholder="Enter your name" id="mce-name" tabindex="600">
    <input type="email" name="EMAIL" placeholder="Enter your email" id="mce-email" tabindex="601">
    <input name="submit" type="submit" class="btn btn-large btn-success" value="Signup Now!" tabindex="602">
    <div id="response" class="alert"></div>
    </form>