<div class="container">
  <aside class="share">
    <h3 class="share-this">Share this</h3>
    <ul>
      <li><a class="twitter" href="https://twitter.com/share?text=VIDEO%3A%20learn%20about%20the%20Achuar%20people%20of%20Peru&url=http%3A%2F%2Fachuarmovie.org&related=amazonwatch" alt="Tweet this">Tweet this</a></li>
      <li><a class="facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.achuarmovie.org%2F&t=Chumpi%20%26%20the%20Waterfall" alt="Share on Facebook">Share on Facebook</a></li>
      <li><a class="email" href="mailto:?subject=Do%20you%20know%20about%20the%20Achuar%20in%20Peru%3F&body=Hi%2C%20I%27ve%20just%20been%20learning%20about%20the%20Achuar%20people%20in%20Peru%20and%20I%20wanted%20to%20share%20it%20with%20you%3A%20http%3A%2F%2Fachuarmovie.org" alt="Email a friend">Email a friend</a></li>
    </ul>
  </aside>
</div>