<div id="slideshow" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
      <img alt="Wayus-man-fire" height="600" src="https://achuarmovie.s3.amazonaws.com/assets/wayus-man-fire-e4924193d514d9cace7d899bbf0ee639.jpg" width="462">
      <div class="carousel-caption">
        <p>
          The Achuar day starts early. Before dawn the whole family wakes up in the darkness to drink wayus. This infusion made with leaves of the wayus bush (<em>Ilex guayusa</em>) shakes off sleepiness, is an important purgative, and stimulates concentration.
        </p>
      </div>
    </div>
    <div class="item">
      <img alt="Wayus-family-fire" height="600" src="https://achuarmovie.s3.amazonaws.com/assets/wayus-family-fire-a4bd2dedd342fe1112b8b0af162d6551.jpg" width="800">
      <div class="carousel-caption">
        <p>
          The family shares quiet and intimate moments as they drink this tea sat around the fire, and parents take advantage of this time and the power of the wayus to give advice to their children and tell them the stories of the past. This daily ritual has led outsiders to refer to the Achuar as <em>the people of wayus</em>.
        </p>
      </div>
    </div>
    <div class="item">
      <img alt="Wayus-on-fire" height="600" src="https://achuarmovie.s3.amazonaws.com/assets/wayus-on-fire-6abd5129d2041a5975b12b0545099b60.jpg" width="800">
      <div class="carousel-caption">
        <p>
          The Achuar drink wayus in large amounts until it provokes vomiting. It is important to them that their stomachs are cleaned and emptied every morning of all the impurities that accumulate over night.
        </p>
      </div>
    </div>
    <div class="item">
      <img alt="Masato-straining" height="600" src="https://achuarmovie.s3.amazonaws.com/assets/masato-straining-32004de1f2720373b52359c23ee28fa5.jpg" width="800">
      <div class="carousel-caption">
        <p>
          After taking wayus the Achuar are left with clean stomachs and clear minds and they then drink a little warm masato before starting their day’s work. Masato is the Achuar’s most important drink.
        </p>
      </div>
    </div>
    <div class="item">
      <img alt="Man-wife-masato" height="600" src="https://achuarmovie.s3.amazonaws.com/assets/man-wife-masato-54d3780c1e5440395e073d244d9fc34b.jpg" width="800">
      <div class="carousel-caption">
        <p>
          As the day passes and the different tasks in the gardens, hunting, fishing or construction require physical exertion, the women distribute masato to their husbands and other community members in beautiful pinin – delicately painted ceramic bowls.
        </p>
      </div>
    </div>
    <div class="item">
      <img alt="Drinking-masato" height="600" src="https://achuarmovie.s3.amazonaws.com/assets/drinking-masato-908678484263b73e6fd5c0617eedb691.jpg" width="800">
      <div class="carousel-caption">
        <p>
          A woman’s masato reflects upon her abilties, and great pride is taken in its preparation and distribution. Achuar girls learn different recipes for this manioc beer, fermented with sweet potato and their own saliva, from an early age.
        </p>
      </div>
    </div>
    <div class="item">
      <img alt="Walking-masato" height="600" src="https://achuarmovie.s3.amazonaws.com/assets/walking-masato-fc095a376b4a011181e291af953010ae.jpg" width="800">
      <div class="carousel-caption">
        <p>
          Wherever they go, masato goes with them. Women accompany their husbands on hunting trips, carrying a pot of thick masato in a basket on their backs, which is mixed with stream water before serving. They also serve large amounts during all communal activities to keep the workers cheery and slightly tipsy, so that hard work is made easier and time flies by with joking and singing. And when the work is over they party into the night.
        </p>
      </div>
    </div>
  </div><!-- Carousel nav -->
  <a class="carousel-control left" href="#slideshow" data-slide="prev">‹</a> <a class="carousel-control right" href="#slideshow" data-slide="next">›</a>
</div>

