<title>Achuar Movie</title>
<meta name="description" content="Meet Chumpi, a young indigenous Achuar boy from Chicherta Village in the remote headwaters of an Amazon tributary deep in the Peruvian rainforest.">
<meta name="author" content="Amazon Watch">
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:type" content="video.other"/>
<meta property="og:url" content="https://www.achuarmovie.org/"/>
<meta property="og:image" content="https://s3.amazonaws.com/achuarmovie/assets/chumpi-cropped.jpg"/>
<meta property="og:site_name" content="Achuar Movie"/>
<meta property="og:video" content="https://vimeo.com/moogaloop.swf?clip_id=35462613&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=1&amp;color=00adef&amp;fullscreen=1&amp;autoplay=1&amp;loop=0" />
<meta property="og:video:type" content="application/x-shockwave-flash" />
<meta property="og:description"
      content="Meet Chumpi, a young indigenous Achuar boy from Chicherta Village in the remote headwaters of an Amazon tributary deep in the Peruvian rainforest."/>