<div class="container">
  <aside class="share">
    <h3 class="share-this">Compartir esto</h3>
    <ul>
      <li><a class="twitter" href="https://twitter.com/share?text=VIDEO%3A%20learn%20about%20the%20Achuar%20people%20of%20Peru&url=http%3A%2F%2Fachuarmovie.org&related=amazonwatch" alt="Tweet this">Tweet esto</a></li>
      <li><a class="facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.achuarmovie.org%2F&t=Chumpi%20%26%20the%20Waterfall" alt="Share on Facebook">Compartir en Facebook</a></li>
      <li><a class="email" href="/emails/new" alt="Email a friend">Enviar a un amigo</a></li>
    </ul>
  </aside>
</div>